.list_visi_misi li {
    text-align: justify;
}

.img_headquarter {
    width: 150px;
    height: 150px;
    background: whitesmoke;
}
/* Banner */

	#banner {
		background-color: #3498db;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
		cursor: default;
		padding: 10em 4em 9em 4em;
	}

		#banner input, #banner select, #banner textarea {
			color: #fff;
		}

		#banner a {
			color: #fff;
		}

		#banner strong, #banner b {
			color: #fff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #fff;
		}

		#banner blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner .box {
			border-color: rgba(255, 255, 255, 0.25);
		}

        /*
		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: #1abc9c;
			color: #fff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: #1dd2af;
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: #17a689;
			}

			#banner input[type="submit"].alt,
			#banner input[type="reset"].alt,
			#banner input[type="button"].alt,
			#banner button.alt,
			#banner .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #fff !important;
			}

				#banner input[type="submit"].alt:hover,
				#banner input[type="reset"].alt:hover,
				#banner input[type="button"].alt:hover,
				#banner button.alt:hover,
				#banner .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				#banner input[type="submit"].alt:active,
				#banner input[type="reset"].alt:active,
				#banner input[type="button"].alt:active,
				#banner button.alt:active,
				#banner .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#banner input[type="submit"].alt.icon:before,
				#banner input[type="reset"].alt.icon:before,
				#banner input[type="button"].alt.icon:before,
				#banner button.alt.icon:before,
				#banner .button.alt.icon:before {
					color: rgba(255, 255, 255, 0.5);
				}

			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner button.special,
			#banner .button.special {
				background-color: #fff;
				color: #3498db !important;
			} */

		#banner label {
			color: #fff;
		}

		#banner input[type="text"],
		#banner input[type="password"],
		#banner input[type="email"],
		#banner select,
		#banner textarea {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

			#banner input[type="text"]:focus,
			#banner input[type="password"]:focus,
			#banner input[type="email"]:focus,
			#banner select:focus,
			#banner textarea:focus {
				border-color: #fff;
				box-shadow: 0 0 0 1px #fff;
			}

		#banner .select-wrapper:before {
			color: rgba(255, 255, 255, 0.25);
		}

		#banner input[type="checkbox"] + label,
		#banner input[type="radio"] + label {
			color: rgba(255, 255, 255, 0.75);
		}

			#banner input[type="checkbox"] + label:before,
			#banner input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#banner input[type="checkbox"]:checked + label:before,
		#banner input[type="radio"]:checked + label:before {
			background-color: #fff;
			border-color: #fff;
			color: #3498db;
		}

		#banner input[type="checkbox"]:focus + label:before,
		#banner input[type="radio"]:focus + label:before {
			border-color: #fff;
			box-shadow: 0 0 0 1px #fff;
		}

		#banner ::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner :-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner ::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner :-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner .formerize-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}

		#banner ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner header p {
			color: rgba(255, 255, 255, 0.5);
		}

		#banner table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#banner table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#banner table th {
			color: #fff;
		}

		#banner table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#banner table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#banner table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#banner h1 {
			font-size: 3em;
			line-height: 1.45;
			margin: 0 0 0.75em 0;
		}

		#banner > .inner {
			opacity: 1;
			-moz-transform: none;
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
		}

			#banner > .inner > :last-child {
				margin-bottom: 0;
			}

		body.is-loading #banner > .inner {
			opacity: 0;
			-moz-transform: translateY(1em);
			-webkit-transform: translateY(1em);
			-ms-transform: translateY(1em);
			transform: translateY(1em);
		}

		@media screen and (max-width: 1280px) {

			#banner h1 {
				font-size: 2.75em;
			}

				#banner h1 br {
					display: none;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 5em 1.5em 4em 1.5em;
			}

				#banner h1 {
					font-size: 2em;
				}

		}